* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.app {
	background-image: url('./assests/winter.png');
	background-size: cover;
	background-position: top;
	transition: 0.4 ease-out;
}

.app.warm {
	background-image: url('./assests/sunny.png');
}

main {
	min-height: 100vh;
	background-image: linear-gradient(to bottom, #00000000, #00000080);
	padding: 25px;
}

.search-box {
	width: 100%;
	margin: 0 0 75px;
}

.search-box .search-bar {
	display: block;
	width: 100%;
	padding: 21px;
	appearance: none;
	background: none;
	border: none;
	outline: none;
	background-color: #ffffffaa;
	border-radius: 0 0 25px 25px; 
	margin-top: -25px;
	box-shadow: 0px 2px #76767682;
	color: #ffffff;
	font-size: 2rem;
	transition: 0.5s ease;
}

.search-box .search-bar:focus {
	background-color: #ffffffee;
}
